default_language_version:
  python: python3.10
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.9
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        types: [python]
        files: "deploy/devops"
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.7
  #   hooks:
  #     - id: bandit
  #       args: [-c, pyproject.toml]
  #       additional_dependencies: ["bandit[toml]"]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.17
    hooks:
      - id: shellcheck
        types: [bash]
        exclude: ^boilerplate/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: "mkdocs.yml"
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=5120"]
      - id: check-json
        exclude: ".vscode/settings.json"
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ".vscode/settings.json"
      - id: check-toml
      - id: mixed-line-ending
      - id: check-symlinks
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     # See https://github.com/pre-commit/mirrors-mypy/blob/main/.pre-commit-hooks.yaml
  #     - id: mypy
  #       types_or: [python, pyi]
  #       args: [
  #           --ignore-missing-imports,
  #           --scripts-are-modules,
  #         ]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.77.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: https://github.com/jazzband/pip-tools
    rev: 7.3.0
    hooks:
      - id: pip-compile
        name: pip-compile requirements-dev.txt
        args:
          - --output-file=requirements-dev.txt
          - pyproject.toml
        files: ^(pyproject\.toml|requirements-dev\.txt)$
      - id: pip-compile
        name: pip-compile requirements-docs.txt
        args:
          - --extra=docs
          - --output-file=requirements-docs.txt
          - pyproject.toml
        files: ^(pyproject\.toml|requirements-docs\.txt)$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        files: \.py$
        args:
          - --license-filepath
          - LICENSE_HEADER.txt
          - --use-current-year
          - --no-extra-eol
